<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/user/css/changeUserName.css" />
</head>
<body>
    <div class="login-page">
        <div class="form">
          
          <form class="login-form" action="/updateUserPassword" method="post">
            <input type="password" name="currentPassword" placeholder="currentPassword"/>
            <%if(errorMessage){%>
                <p style="color: red;"><%=errorMessage%></p>
                <%}%>
            <input type="password" name="newPassword" placeholder="NewPassword"/>
            <input type="password" name="confirmPassword" placeholder="confirmPassword"/>
           
            <button type="submit">Update</button>
            <p class="message">Are you sure ? <a href="/userProfile">Back to profile</a></p>
          </form>
        </div>
      </div>
</body>
</html>