<!DOCTYPE html>
<html>
   <head>
      <!-- Basic -->
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <!-- Mobile Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <!-- Site Metas -->
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      <meta name="author" content="" />
      <link rel="shortcut icon" href="/user/images/favicon.png" type="">
      <title>Famms - Fashion HTML Template</title>
      <!-- bootstrap core css -->
      <link rel="stylesheet" type="text/css" href="/user/css/bootstrap.css" />
      <!-- font awesome style -->
      <link href="/user/css/font-awesome.min.css" rel="stylesheet" />
      <!-- Custom styles for this template -->
      <link href="/user/css/style.css" rel="stylesheet" />
      <!-- responsive style -->
      <link href="/user/css/responsive.css" rel="stylesheet" />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   </head>
   <body>
      <div class="hero_area">
         <!-- header section strats -->
         <header class="header_section">
            <div class="container">
               <nav class="navbar navbar-expand-lg custom_nav-container ">
                  <a class="navbar-brand" href="index.html"id="defender">𝕯𝖊𝖋𝖊𝖓𝖉𝖊𝖗</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class=""> </span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav">
                        <li class="nav-item ">
                           <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                       <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Pages <span class="caret"></span></a>
                           <ul class="dropdown-menu">
                              <li><a href="about.html">About</a></li>
                              <li><a href="testimonial.html">Testimonial</a></li>
                           </ul>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="/userSideProduct/sort">Products</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="blog_list.html">Blog</a>
                        </li>
                        <li class="nav-item active">
                           <a class="nav-link" href="/userProfile">Profile</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                              <svg  version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029; " xml:space="preserve">
                                 <g>
                                    <g>
                                       <path  d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                                          c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                                    </g>
                                 </g>
                                 <g>
                                    <g style="color: white;">
                                       <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                                          C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                                          c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                                          C457.728,97.71,450.56,86.958,439.296,84.91z" />
                                    </g>
                                 </g>
                                 <g>
                                    <g>
                                       <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                                          c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                                    </g>
                                 </g>
                                 
                              </svg>
                           </a>
                        </li>
                        
                        <form class="form-inline">
                           <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                           <i class="fa fa-search" aria-hidden="true"></i>
                           </button>
                        </form>
                        <li class="nav-item">
                           <a class="nav-link" href="/userlogout">logout</a>
                        </li>
                     </ul>
                  </div>
               </nav>
            </div>
         </header>
         
    </head>








        
      <div class="container">
         <div class="main-body">
             <div class="row justify-content-center gutters-sm"> <!-- Centering the row -->
               <div class="col-md-6 mb-6">
                  <br><br>
                  <div class="card">
                      <div class="card-body">
                          <!-- Content for the first column -->
                          <div class="d-flex flex-row align-items-center justify-content-between">
                              <div class="d-flex flex-column align-items-center text-center">
                                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                  <div class="mt-5">
                                      <h4><%=userData.username%></h4>
                                      <p class=" font-size-sm"><%=userData.email%></p>
                                  </div>
                                  
                              </div>
                              <button id="menu-btn">Edit</button>
                               <div id="offcanvas-menu">
                                 <h3 class="h3">Update your Profile</h3><br><br>
                                 <ul>
                                   <li><a href="/changeUserName"><button class="bto">Change userName</button></a></li>
                                   <li><a href="/changeUserPassword"><button class="bto">Change password</button></a></li>
                                   <li><a href="/address"><button class="bto">Your Address</button></a></li>
                                   
                                 </ul>
                               </div>
                              <div class="button-profile">
                                  <a href="/whistList"><button class="bt">WishList</button></a><br><br>
                                  <a href="/userOrder/:id"><button class="bt">Orders</button></a><br><br>
                                  <a href="/Cart"><button class="bt">Cart</button></a><br><br>
                                  
    
                              </div>

                              
                          </div>
                      </div>
                  </div>
                  <div class="card mt-3"></div>
              </div>

<!--  -->

<div class="col-md-4 mb-4">
   <br><br>
   <div class="card-container">
      <div class="cardrotate" onmouseenter="rotateCard(this, event)" onmouseleave="rotateCard(this, event)">
           <div class="front">
               
               <div class="content">
                   <div class="main">
                       <h2 class="name" style="text-align: center;">𝕯𝖊𝖋𝖊𝖓𝖉𝖊𝖗</h2>
                       <p class="profession">Wallet</p>

                       <p class="text-center">"Defender Vault: Secure Your Journey."</p>
                   </div>
                   <div class="footer">
                       <div class="rating">
                           <i class="fa fa-mail-forward"></i>
                       </div>
                   </div>
               </div>
           </div> <!-- end front panel -->
           <div class="back">
               <div class="header">
                   <h3 class="motto"><b>Current Balance</b></h3>
               </div>
               <div class="content">
                   <div class="main">
                       <h4 class="text-center">₹ <%=userData.wallet.balance%></h4>
                      <input type="number" id="addMoneytowallet"><button onclick="addMoneytowallet()">Add</button>
                      <br><br><br>
                      <a href="walletTranaction"><p>View tranaction</p></a>

                     
                   </div>
               </div>
              
           </div> <!-- end back panel -->
       </div> <!-- end card -->
   </div> <!-- end card-container -->
   <div class="card mt-3"></div>
</div>

<style>
   .card-container {
  perspective: 1000px; /* Add perspective for 3D effect */
  box-shadow: 0 0 15px rgba(84, 70, 70, 0.5);

      border-radius: 20px;
  text-align: center;
}
input{
   border-radius: 20px;
   width: 100px;
}
button{
   margin-left: 5px;
   border-radius: 20px;
   background-color: black;
   color:white;
}
a{
   text-decoration: none;
}
p:hover{
   color: #5c8413;
}

.cardrotate {
  position: relative;
  width: 100%;
  height: 306px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  padding-top: 25%;
}

.cardrotate.hover {
  transform: rotateY(180deg); /* Rotate the card to reveal the back panel */
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg); /* Initially hide the back panel */
}

</style>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
   function rotateCard(card, event) {
      if (event.type === 'mouseenter') {
         card.classList.add('hover');
      } else if (event.type === 'mouseleave') {
         card.classList.remove('hover');
      }
   }

   //addMoneytowallet
   function addMoneytowallet(){
      const amount = parseFloat(document.getElementById('addMoneytowallet').value);
      fetch("/RazorpayInstance", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ amount: amount })
            })
            .then(response => response.json())
            .then(data => {
                openRazorpay(data.orderId,amount); // Pass totalPrice and address to openRazorpay
            })
            .catch(error => {
                console.error('There was a problem with your fetch operation:', error);
                // Handle errors, e.g., displaying an error message to the user
            });
        }
   

    // Define openRazorpay outside event listener
    function openRazorpay(orderId,amount) {
      var options = {
            key: 'rzp_test_xxIa2EJbQL3tW2',
            amount: amount * 100, // Convert to paisa
            currency: 'INR',
            name: 'The Defender',
            description: 'Purchase Description',
            order_id: orderId,
    handler: function(response) {
      console.log("bi");
        // Handle Razorpay response
      //   fetch('/addMoneytowallet',
      //    {
      //           method: "POST",
      //           headers: {
      //               'Content-Type': 'application/json'
      //           },
      //           body: JSON.stringify({ amount: amount })
      //       })
      fetch('/addMoneytowallet', {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ 
                        
                        amount: amount,
                       
                    })

        
    })
} 
      }
var rzp = new Razorpay(options);
            rzp.open();
}

</script>


           <!--  -->
              
                 <div class="col-md-10">
                     <div class="card mb-3">
                         <div class="card-body">
                             <!-- Content for the second column -->
                             <div class="profile-inner-box-address-p">
                                <h3>Current shipping Address</h3>
                                 <div class="address-box">
                                     <h3>name</h3>
                                     <h5>address</h5>
                                     <p>city,state zipCode <br> item.country<br> item.phone </p>
                                     
                                 </div>
                                <a href="/address"> <button class="button-on-right">change the shipping address</button></a>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
         

     <style>
      /* Your existing styles */
      * {
          color: rgb(2, 2, 2);
      }

      body {
          text-align: left;
          background-repeat: no-repeat;
          background-size: cover;
       
      }

      .main-body {
          padding: 15px;
      }

      .card {
         box-shadow: 0 0 15px rgba(84, 70, 70, 0.5);
      }

      .card {
          position: relative;
          display: flex;
          flex-direction: column;
          min-width: 0;
          word-wrap: break-word;
          /* background-image: url('user/images/background-image1.png'); */
         background-color: #fff;
          background-repeat: no-repeat;
          background-size: cover;
          background-clip: border-box;
          border: 0 solid rgba(0, 0, 0, .125);
          border-radius: 20px;
      }

      .profile-inner-box-address-p {
          position: relative;
          background-repeat: no-repeat;
          background-size: cover;
          margin-bottom: 10px;
          
      }
      .button-on-right {
         position: absolute;
         top: 0;
         right: 0;
         margin-top:2px;
         margin-right: 9px;
         background-color: #000000;
         color: white;
         border-radius: 10px;
}

      .address-edit-p {
          color: #6E6E6E;
          margin-bottom: 10px;
      }

      .card-body {
          flex: 1 1 auto;
          min-height: 1px;
          padding: 1rem;
      }

      .gutters-sm {
          margin-right: -8px;
          margin-left: -8px;
      }

      .gutters-sm>.col,
      .gutters-sm>[class*=col-] {
          padding-right: 8px;
          padding-left: 8px;
      }

      .mb-3,
      .my-3 {
          margin-bottom: 1rem!important;
      }

      .bg-gray-300 {
          background-color: #e2e8f0;
      }

      .h-100 {
          height: 100%!important;
      }

      .shadow-none {
          box-shadow: none!important;
      }

      .justify-content-center {
          justify-content: center;
      }
      .bt {
         width: 80px;
         background-color: #000000;
         border: 2px solid  #000000;
         border-radius: 10px;
         color: white;
         
      }



#offcanvas-menu {
   position: fixed;
  top: 0;
  left: -300px; /* Initially hide offcanvas menu */
  width: 300px;
  height: 100%; /* Cover entire viewport */
  background: #333;
  padding-top: 50px;
  transition: left 0.3s ease;
  z-index: 999; /
}

#offcanvas-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#offcanvas-menu ul li {
  padding: 10px;
}

#offcanvas-menu ul li a {
  color: #fff;
  text-decoration: none;
}
.bto{
   width: 150px;
   margin-left: 20px;
   border-radius: 10px;
   background-color: #baff3984;
}
.bto:hover{
   background-color: whitesmoke;
   box-shadow: 0 1px 3px 0 rgba(92, 216, 47, 0.1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

#menu-btn {
  
  
  z-index: 9999;
  background: black;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}
.h3{
   margin-left: 10px;
   color: #BAFF39;

}
      
  </style>
          <!-- footer start -->
      <footer>
        <div class="container">
           <div class="row">
              <div class="col-md-4">
                  <div class="full">
                     <div class="logo_footer">
                       <a href="#"><img width="210" src="images/logo.png" alt="#" /></a>
                     </div>
                     <div class="information_f">
                       <p><strong>ADDRESS:</strong> 28 White tower, Street Name New York City, USA</p>
                       <p><strong>TELEPHONE:</strong> +91 987 654 3210</p>
                       <p><strong>EMAIL:</strong> yourmain@gmail.com</p>
                     </div>
                  </div>
              </div>
              <div class="col-md-8">
                 <div class="row">
                 <div class="col-md-7">
                    <div class="row">
                       <div class="col-md-6">
                    <div class="widget_menu">
                       <h3>Menu</h3>
                       <ul>
                          <li><a href="#">Home</a></li>
                          <li><a href="#">About</a></li>
                          <li><a href="#">Services</a></li>
                          <li><a href="#">Testimonial</a></li>
                          <li><a href="#">Blog</a></li>
                          <li><a href="#">Contact</a></li>
                       </ul>
                    </div>
                 </div>
                 <div class="col-md-6">
                    <div class="widget_menu">
                       <h3>Account</h3>
                       <ul>
                          <li><a href="#">Account</a></li>
                          <li><a href="#">Checkout</a></li>
                          <li><a href="#">Login</a></li>
                          <li><a href="#">Register</a></li>
                          <li><a href="#">Shopping</a></li>
                          <li><a href="#">Widget</a></li>
                       </ul>
                    </div>
                 </div>
                    </div>
                 </div>     
                 <div class="col-md-5">
                    <div class="widget_menu">
                       <h3>Newsletter</h3>
                       <div class="information_f">
                         <p>Subscribe by our newsletter and get update protidin.</p>
                       </div>
                       <div class="form_sub">
                          <form>
                             <fieldset>
                                <div class="field">
                                   <input type="email" placeholder="Enter Your Mail" name="email" />
                                   <input type="submit" value="Subscribe" />
                                </div>
                             </fieldset>
                          </form>
                       </div>
                    </div>
                 </div>
                 </div>
              </div>
           </div>
        </div>
     </footer>
     <!-- footer end -->
     <script>
     
     document.getElementById('menu-btn').addEventListener('click', function() {
    var menu = document.getElementById('offcanvas-menu');
    if (menu.style.left === '-300px') { // Adjusted to match the initial left position of the offcanvas menu
        menu.style.left = '0';
    } else {
        menu.style.left = '-300px';
    }
});

    </script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
     </div>
  </body>
</html>